<section>
  <h1 class="text-center text-uppercase fw-bold mb-5">Contact Section</h1>
  <div class="container">
    <form
      class="d-flex flex-column justify-content-center align-items-center gap-2 w-50 mx-auto"
    >
      <input type="text" class="form-control py-3" placeholder="User Name" />
      <input type="text" class="form-control py-3" placeholder="User Age" />
      <input type="text" class="form-control py-3" placeholder="User Email" />
      <input
        type="text"
        class="form-control py-3"
        placeholder="User Password"
      />
      <button class="btn btn-info my-3 align-self-start">Send Message</button>
    </form>
  </div>
</section>
