<section>
  <h1 class="text-center text-uppercase fw-bold mb-5">Portfolio Component</h1>
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4">
        <div class="img-container rounded-4 overflow-hidden position-relative">
          <img
            src="https://routeegy.github.io/startFramework/assets/images/port2.png"
            alt=""
          />
          <div class="overlay"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container rounded-4 overflow-hidden position-relative">
          <img
            src="https://routeegy.github.io/startFramework/assets/images/poert1.png"
            alt=""
          />
          <div class="overlay"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container rounded-4 overflow-hidden position-relative">
          <img
            src="https://routeegy.github.io/startFramework/assets/images/port3.png"
            alt=""
          />
          <div class="overlay"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container rounded-4 overflow-hidden position-relative">
          <img
            src="https://routeegy.github.io/startFramework/assets/images/port3.png"
            alt=""
          />
          <div class="overlay"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container rounded-4 overflow-hidden position-relative">
          <img
            src="https://routeegy.github.io/startFramework/assets/images/port2.png"
            alt=""
          />
          <div class="overlay"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container rounded-4 overflow-hidden position-relative">
          <img
            src="https://routeegy.github.io/startFramework/assets/images/poert1.png"
            alt=""
          />
          <div class="overlay"></div>
        </div>
      </div>
    </div>
  </div>
</section>
