<section
  class="bg-about text-white d-flex justify-content-center align-items-center h-1"
>
  <div class="container">
    <h1 class="text-center text-uppercase fw-bold">About Component</h1>
    <div class="row d-flex justify-content-center mt-5 fw-lighter">
      <div class="col-md-5">
        <div class="div">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="div">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
