<section class="bg-footer pt-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-4">
        <div class="location text-white text-center">
          <p class="text-uppercase fs-3 fw-bold">Location</p>
          <p class="mb-0">2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="web text-white text-center">
          <p class="text-uppercase fs-3 fw-bold">Around the web</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="location text-white text-center">
          <p class="text-uppercase fs-3 fw-bold">About freelancer</p>
          <p class="mb-0">
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center mb-0 py-3 bg-footer-sec text-white fw-lighter">
    Copyrights reserved &copy; Route 2025
  </p>
</section>
